.sum-btn {

  width: 100%;
  padding: 30px;

  border-top-left-radius: 28px;
  border-bottom-right-radius: 28px;

  color: white;

  border: none;
  /* background-color: #198754; */
  cursor: default !important;

}

.sum-btn span {
  font-size: 20px;
}

.sum-btn img {
  margin-right: 8px;
}

.sum-btn p {
  font-size: 48px;
  margin-top: 12px;
  /* font-weight: bold; */
}

.sum-btn-item1 {
  background-color: #ff3581;
}

.sum-btn-item2 {
  background-color: #00c63a;
}

.sum-btn-item3 {
  background-color: #6b7ed9;
}


.teacher-profile {

  display: flex;
  align-items: center;
  flex-direction: column;
  border-left: 1px rgb(212, 212, 212) solid;
}

.teacher-profile p {
  font-size: 16px;
}


.profile-under p {
  font-size: 14px;
}

.profile-under p span {
  font-weight: bold;
}

.new-student-table {}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid rgb(212, 212, 212);
  border-collapse: collapse;

}

.table-title {

  font-weight: bold;


}

th,
td {
  padding: 14px;
}

td img {
  margin-right: 12px;
}

.new-student-details {

  border: none;
  border-radius: 4px;
  color: white;
  background-color: #198754;
  padding: 8px;
  width: 100%;

}

.profile-under {
  padding: 28px;
  border-radius: 12px;
  border: 1px rgb(210, 210, 210) solid;
}