.rep-comment-input {
  border-radius: 2px;
  border: 1px rgb(133, 133, 133) solid;
  padding: 0px 6px;
}

.rep-comment-btn {

  border-radius: 2px;
  border: none;
  background-color: #198754;
  color: white;
}

.content-title span {

  display: inline-block;
  width: 220px;

}

.content-title i {
  color: #198754;
  font-size: 40px;
}

.content-text,
/* .lession-evaluate-show, */
table,
.lession-list {
  display: none;
}

/* table */

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid rgb(212, 212, 212);
  border-collapse: collapse;

}

.table-title {

  font-weight: bold;


}

th,
td {
  padding: 14px;
}

td img {
  margin-right: 12px;
}

.new-student-details {

  border: none;
  border-radius: 4px;
  color: white;
  background-color: #198754;
  padding: 8px;
  width: 100%;

}

.add-lession-btn {
  padding: 0px;
  border-radius: 50px;
  border: none;
}

.evaluate-user-item,
.lession-item {
  position: relative;
}

.setting-response {
  /* position: absolute;
  top: 0;
  right: 0; */
  /* width: 50px; */
  display: flex;
  justify-content: space-evenly;
}

.back-btn-modal {

  color: white;
  background: #ff6f00;
  padding: 8px;
  border-radius: 4px;
}

.navbar-child {

  margin: 24px 0px;
  font-size: 15px;
  color: rgb(130, 130, 130);
}

.navbar-child a {

  margin: 12px 0px;
  font-size: 15px;
  color: rgb(130, 130, 130);
  text-decoration: none;

}

.navbar-child-icon {
  margin: 0px 8px;
}

.setting-response button {

  padding: 6px;
  font-size: 14px;
  border-radius: 4px;
  color: white;
  border: none;
  /* width: 100%; */
  background: gray;
  display: flex;
  justify-content: space-around;

}

.update-response-btn {

  background-color: #198754;

}

.update-response-btn:hover {

  background-color: #14643f;
}

.delete-response-btn {}

.response-teacher {

  position: relative;
  /* padding: 8px;
  border-radius: 4px;
  border: 2px #d0d0d0 solid; */
}

.response-teacher span {
  border-radius: 8px;
  margin-bottom: 6px;
  /* padding: 4px 0px; */
  background: #ededed;
  display: block;
  font-size: 14px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

tr th:first-child {
  width: 40%;
}

tr th:nth-child(2) {
  width: 40%;
}

tr th:last-child {

  width: 20%;
}

.lession-item .row {
  border-radius: 4px;
  border: 1px #e1e0e0 solid;
  padding: 8px;
}