footer{
    font-family: Hanken Grotesk !important;
    /* background: #2f3c7e; */
    /* padding: 40px; */
    /* color: white; */
}
.footer-row {
    gap: 40px;
    justify-content: space-around;
}

.footer-logo {
    margin-right: 20px;
}
.footer-logo-name {
    font-size: 16px;
    text-transform: uppercase;
}

.footer-cover {
    padding: 40px;
    border-top: 1px rgb(199, 199, 199) solid;
}

.footer-col {
    /* background-color: #fbeaeb; */
    background-color: white;

    border-radius: 4px;
    /* padding: 20px; */
}

.footer-col i {
    margin-right: 12px;
}

.footer-logo-cover {
    /* height: 14%; */
}
.footer-logo-cover img {
    width: 14%;
}

.footer-col p {
    margin-bottom: 6px;
}

.footer-col p a {

    text-decoration: none;
    color: black;
    font-size: 14px;
}

.footer-col h6 {
    color: rgb(44 49 207);
    font-size: 18px;
    margin-bottom: 10px;
}