body {

    font-family: Hanken Grotesk !important;

}

.home-header {
    background-color: #2f3c7e;
    padding: 40px;
    /* border-bottom-left-radius: 20px; */
    /* border-bottom-right-radius: 20px; */
}

.home-header h5 {
    color: white;
}

.home-left {
    color: white;
}

.home-desc {
    margin: 8px 0px;
}

.home-desc img {
    margin-right: 8px;
}

.home-title {
    margin: 0 auto;
    padding: 12px;
    border: 2px rgb(210, 210, 210) solid;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    /* Bóng đổ về bên phải và dưới */
    border-radius: 8px;
    /* background: #198754; */
    color: white;
    width: 30%;
}

.home-title-new {
    background-color: #6b7ed9;



}

.home-title-outstanding {

    background-color: #00c63a;


}

.home-title-suggest {
    background-color: #ff3581;


}

.home-title h6 {
    margin: 0px;
    display: inline;
    padding: 0px 24px;
    font-size: 18px;
}

.home-title div {
    display: inline;
    text-align: center;
}

.hightlight-text {

    font-size: 24px;
    color: #ff6f00;
}


.join-in-btn {}

.nav-link {

    /* padding: 8px 14px !important; */
    /* font-weight: bold; */
}

.for-more-courses {

    text-align: right;
}

.for-more-courses a {
    text-decoration: none;

    color: rgb(44 49 207);
    font-size: 16px;
}