body {
    
    font-family: Hanken Grotesk !important;

}

.lession-header {

    background-color: #2f3c7e;
    padding: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.lession-left {

    color: white;
}
.lession-right img{

    border-radius: 20px;
}

.lession-left button, .send-evaluate-btn {
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #198754;
    padding: 8px;
}

.file_desc {
    margin-top: 12px;
}

.student-synthetic {

    border-radius: 8px;
    background: #198754;
    display: inline-block;
    padding: 4px;
    margin-top: 16px;
    margin-right: 8px;

}

.student-synthetic i {
    margin-right: 8px;
}

.lession-evaluate-sum , .lession-evaluate-comment {

    
}

.content-text {
    padding: 0px 12px;
}

.lession-evaluate-sum {
    padding: 0px 12px;

}

.sum-cover {
    border-radius: 8px;
    border: 2px rgb(212, 212, 212) solid;
    background-color: #198754;
    color: white;
}

.lession-evaluate-comment {

    border-radius: 8px;

    border: 2px rgb(212, 212, 212) solid;

    height: 120px;

    
}

.send-evaluate-btn {

}

.star {
    margin-right: 6px;
}

.star-sum {
    font-size: 24px;
    margin-left: 8px;
}

.yellow {
    color: #f9bf0a;
}