/* Extra small (XS): <576px */
@media (max-width: 575.98px) {
    /* CSS áp dụng cho kích thước nhỏ hơn 576px */
    tr th:first-child {
        width: 40%;
    }

    tr th:nth-child(2) {
        width: 40%;
    }

    tr th:last-child {

        width: 20%;
    }
    
  }
  
  /* Small (SM): <768px */
  @media (max-width: 767.98px) {
    /* CSS áp dụng cho kích thước nhỏ hơn 768px */
  }
  
  /* Medium (MD): <992px */
  @media (max-width: 991.98px) {
    /* CSS áp dụng cho kích thước nhỏ hơn 992px */

  }
  
  /* Large (LG): <1200px */
  @media (max-width: 1199.98px) {
    /* CSS áp dụng cho kích thước nhỏ hơn 1200px */
  }
  
  /* Extra large (XL): <1400px */
  @media (max-width: 1399.98px) {
    /* CSS áp dụng cho kích thước nhỏ hơn 1400px */
  }
  